/* 
  우리가 패딩을 줬을 때 높이와 너비 그 패딩을 
  포함했을 때도 동일한 높이와 너비가 되도록함

*/
* {
  box-sizing: border-box;
  background-color: black;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  color: aliceblue;
}
a {
  color: aliceblue;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: beige;
}
.navbar_menu{
  display: flex;
}
.navbar_menu_item{
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: px; /* 모서리 둥글게 */
}

.navbar_menu_item:hover{
  background-color: burlywood;
}